.movie-search-parent {
  max-width: 90%;
}

.movie-search-form {
  margin-bottom: 3%;
}

.movie-list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.movie-wrapper {
  margin: 0.5rem 0rem;
  max-width: 50%;
  transition: 1s;
  &:hover {
    transform: scale(1.1);
  }
  img {
    width: 80%;
  }
  .list-icon {
    cursor: pointer;
  }
  .list-icon-2 {
    // min-width:50%;
  }
}
