.movie-list-wrapper{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    width:90vw;
}

.movie-wrapper{
    margin: 1rem .5rem;
    transition:1s ;
    &:hover{
        transform: scale(1.2)
    }
}